body {
    margin: 0;
}

header{
    text-transform: uppercase;
    font-family: sans-serif;
    font-size: 15px;
    padding: 10px;
    color: #4C4C4C;
}


td{
    padding: 10px;
}




td:nth-child(1),
td:nth-child(2) {
   background-color: grey;

}